[33mcommit 0ad6e0b5fe5a714a4a6c5129b827bd986cc428cd[m[33m ([m[1;36mHEAD[m[33m -> [m[1;32mmaster[m[33m)[m
Author: amor <amr7o7p@gmail.com>
Date:   Wed Aug 27 01:58:08 2025 -1100

    color style

[33mcommit a6da15cc0805e1e4d8e73eb59ea0c269f0304125[m
Author: amor <amr7o7p@gmail.com>
Date:   Wed Aug 27 01:53:53 2025 -1100

    tadeilat amr

[33mcommit 47de93e256f34d074d13c0b429b6aa1d5f2a8bfe[m
Author: amor <amr7o7p@gmail.com>
Date:   Wed Aug 27 01:37:32 2025 -1100

    new amr app.js and style.css

[33mcommit 95e36183231e673d1c3ff059b8940458879b8eb7[m
Author: amor <amr7o7p@gmail.com>
Date:   Wed Aug 27 01:31:44 2025 -1100

    amr index.html
